{{>header}}
<div class="text-center">
    Inscritos Disponibles
</div><br>
<div class="container text-center">
    {{{getInscritos}}}
</div>
<div class="container text-center">
    <div>Explore los cursos para eliminar usuarios.</div>
    <div class="accordion" id="accordionExample">
        {{{obtenerCursosCallapsedEliminar}}}
    </div>
</div>

{{>footer}}